body {
  background: black;
  margin: 0;
  width: 100%;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header {
  background: #000014;
  width: 80%;
  margin: 0 auto;
  font-family: 'Titillium Web', sans-serif;
}

.header ::after {
  content: "";
  display: table;
  clear: both;
}
#initials {
  border-radius: 80%;
  width: 170px;
  height: auto;
  float: left;
  margin: 20px 50px 0px 10px;
}



nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  position: relative;
  font-size: 130%;
  float: right;
}

li {
  padding: 32px;
}

.lines {
  background-color: #000029;
}

h1 {
  color: #ADADFF;
  text-align: center;
  margin: -20px 0px 30px 0px;
  font-size: 300%;
}

#pl{
  width: 300px;
  padding: 0px;
  float: right;
  margin-left: 200px;
  margin-top: 10px;
}

.s{
  margin-top: -2em;
  width: 50%;
  float: left;
  padding: 40px;
  font-size: 200%;
  font-family: 'Play', sans-serif; 
}


.footer-socials{
  background-color: #00003D;
  position: fixed;
  height: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.footer-socials a {
  margin: 4px 60px;
  padding: 6px;
  font-size: 80px;
}

@media (max-width: 1200px){
  .s{
    font-size: 130%;
    text-align: center; 
  }
  
  #pl {
    margin-right: 40px;
    padding: 0px;
    width: 250px;
  }
}

@media (max-width: 870px) {
  .s {
    font-size: 100%;

  }
  #pl {
    margin-right: 80px;
    width: 200px;
  }
  #initials {
    width: 165px;
    margin-right: 40px;
  }
  nav ul {
    font-size: 100%;
  }
  .footer-socials a{
    font-size: 60px;
  }
}

@media(max-width: 690px) {
  .s {
    font-size: 60%;
  }
  #initials {
    width: 120px;
    margin-right: 25px;
  }
  nav ul {
    font-size: 60%; 
  }
  li {
    margin: 4px 1px 4px 1px;
  }
  #pl {
    width: 150px;
    margin-left: 100px;
  }
  .footer-socials a{
    font-size: 40px;
    margin: 4px 30px;
  }
}

@media(max-width: 400px) {
  .s {
    font-size: 72%;
    width: 100%;
    float: none;
    padding: 25px;
    margin: 0px auto;
  }
  #initials {
    margin: 30px 25px 10px 0px;
  }
  #pl {
    float: none;
    width: 200px;
    height: 140px;
    margin: 10px auto;
  }
  li {
    padding: 2px;
  }
  .footer-socials a{
    font-size: 30px;
    margin: 4px 15px;
  }
}
